<!-- <div id="fillerContato"></div> -->
<div class="main">
    <div class="contato" id="contato">
        <h1 class="title">CONTATE-NOS</h1>
        <span class="subtitle">blocobsb@gmail.com</span>

        <form class="content" [formGroup]="contatoForm" (ngSubmit)="enviarMensagem()">
            <div class="superiores">
                <div class="campo">
                    <span>Email *</span>
                    <mat-form-field class="inputForm">
                    <input matInput formControlName="email" placeholder="exemplo@gmail.com" required>
                    </mat-form-field>
                </div>
                <div class="campo">
                    <span>Nome</span>
                    <mat-form-field class="inputForm">
                    <input matInput formControlName="nome" placeholder="José da Silva Sauro" >
                    </mat-form-field>
                </div>
            </div>
            <div class="inferiores">
                <div class="campo">
                    <span>Assunto</span>
                    <mat-form-field class="inputForm">
                    <input matInput formControlName="assunto" placeholder="Compra de camisetas" >
                    </mat-form-field>
                </div>
                <div class="campo">
                    <span>Mensagem *</span>
                    <mat-form-field class="inputForm">
                    <textarea matInput formControlName="mensagem" rows="10" placeholder="Gostaria de tirar uma dúvida, é possível comprar mais de uma camiseta de uma vez?" required></textarea>
                    </mat-form-field>
                </div>
                <button mat-raised-button class="btn-enviar transicao" type="submit">
                Enviar
                </button>
            </div>
        </form>
    </div>
</div>

