<!-- <div id="fillerContato"></div> -->
<div class="main">
    <div class="contato" id="contato">
        <div class="header">
            <h2>CONTATE-NOS</h2>
        </div>
        <div class="flex">
            <span class="subtitle">blocobsb@gmail.com</span>
            <div class="divisao"></div>
            <a href="https://wa.me/5561981889864?text={{getMensagem()}}" target="_blank" >
                <div class="wpp"></div>
            </a>
            <div class="divisao"></div>
            <a href="https://www.instagram.com/bloco.bsb/" target="_blank">
                <div class="insta"></div>
            </a>
            

        </div>

        <form class="content" [formGroup]="contatoForm" (ngSubmit)="enviarMensagem()">
            <div *ngIf="!logado" class="superiores">
                <div class="campo">
                    <span>Email *</span>
                    <mat-form-field class="inputForm">
                    <input matInput formControlName="email" placeholder="exemplo@gmail.com" required>
                    </mat-form-field>
                </div>
                <span class="spacer"></span>
                <div class="campo">
                    <span>Nome</span>
                    <mat-form-field class="inputForm">
                    <input matInput formControlName="nome" placeholder="José da Silva Sauro" >
                    </mat-form-field>
                </div>
            </div>
            <div class="inferiores">
                <div class="campo">
                    <span>Assunto</span>
                    <mat-form-field class="inputForm">
                    <input matInput formControlName="assunto" placeholder="Compra de camisetas" >
                    </mat-form-field>
                </div>
                <div class="campo">
                    <span>Mensagem *</span>
                    <mat-form-field class="inputForm">
                    <textarea matInput formControlName="mensagem" rows="10" placeholder="Gostaria de tirar uma dúvida, é possível comprar mais de uma camiseta de uma vez?" required></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="divBtn">
                <button class="btnContato" type="submit"> Enviar </button>
            </div>
        </form>
    </div>
</div>

