<!-- <div id="fillerSobre"></div> -->
<div class="main">
    <div class="sobre" id="sobre">
        <h1 class="title">Sobre a Bloco</h1>
        <span class="subtitle">De Brasília, nascida e criada.</span>
        <div class="content">
            <img class="leftContent" src="/assets/imagemSobre/sobre.jpg">
            <div class="rightContent">
                <span class="contentTitle">Sobre nós</span>
                <p class="contentText">A Bloco surgiu a partir da vontade de externalizar o amor por Brasília, trazendo elementos inspirados no típico cotidiano brasiliense, com sua arquitetura inesperada e sua natureza particular, que tanto nos encantam. </p>
                <span class="contentTitle">Por que Bloco?</span>
                <p class="contentText">Quando pensamos em Brasília, vêm à nossa cabeça diversos elementos marcantes. Contudo, dentre todos eles, um dos que mais bem retratam o típico cotidiano brasiliense são os blocos das nossas quadras, únicos da capital. E foi deles que surgimos.</p>
            </div>
        </div>
    </div>
</div>



