.main {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5%;
    overflow: hidden;
}

.sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1%;
  padding: 1% 0;
  width: 90%;
  max-width: 1300px;
  background-color: rgba(255, 255, 255, 0.335);
  font-family: 'Courier New', Courier, monospace !important;
}

.header {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.507);
  padding: 15px 10%;
  margin-bottom: 1%;
  width: fit-content;
  color: white;
}

.header h1 {
  border-bottom: 1px solid white;
  margin: 0;
  font-family: 'Courier New', Courier, monospace !important;
}

.subtitle {
    margin: 10px;
    font-size: 25px;
}

.content {
  display: flex;
  align-items: center;
  margin-top: 3%
}

.imagem {
  width: 55%;
  margin: 1%;
  border: 1px solid black;
}

.texto {
  padding: 1%;
}

.texto h2 {
  font-family: 'Courier New', Courier, monospace !important;
  font-size: 23px;

}

.texto p {
  font-size: 17px;
  text-indent: 10%;
}