<div class="header">
    <span style="flex: 1 1 auto;"></span>
    <span class="close" aria-label="Close" (click)="dialogRef.close()">
        <span aria-hidden="true">&times;</span>
    </span>
</div>
<div class="content" *ngIf="view === views[1] || view === views[0]">
    <h1>Registre-se</h1>
    <div class="flex">
        <h4>Já é um membro?</h4>
        <span class="login" (click)="view = views[2]">Faça Login aqui!</span>
    </div>

    <div class="divBaixo" *ngIf="view === views[0]">
        <button mat-raised-button class="btn-google">Registre-se com Google+</button>
        <div class="ou flex">
            <div class="line"></div>
            <span>ou</span>
            <div class="line"></div>
        </div>
        <button mat-raised-button class="btn-email" (click)="view = views[1]">Registre-se com seu email</button>
    </div>

    <div class="divBaixo" *ngIf="view === views[1]">
        <form class="form" [formGroup]="registerForm" (ngSubmit)="register()">
            <div class="formFields">
                <mat-form-field>
                    <mat-label>Email*</mat-label>
                    <input formControlName="email" matInput type="text">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Nome</mat-label>
                    <input formControlName="nome" matInput type="text">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Senha*</mat-label>
                    <input formControlName="senha" matInput type="password">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Confirmar Senha*</mat-label>
                    <input formControlName="confirmarSenha" matInput type="password">
                </mat-form-field>
            </div>
            <button mat-raised-button class="btn-email" type="submit">Registrar-se</button>
        </form>
        <div class="ou flex">
            <div class="line"></div>
            <span>ou</span>
            <div class="line"></div>
        </div>
        <button>Google+</button>
    </div>
</div>

<div class="content" *ngIf="view === views[2] || view === views[3]">
    <h1>Entrar</h1>
    <div class="flex">
        <h4>Não é um membro?</h4>
        <span class="login" (click)="view = views[0]">Registre-se aqui!</span>
    </div>
    <div class="divBaixo" *ngIf="view === views[2]">
        <button mat-raised-button class="btn-google">Login com Google+</button>
        <div class="ou flex">
            <div class="line"></div>
            <span>ou</span>
            <div class="line"></div>
        </div>
        <button mat-raised-button class="btn-email" (click)="view = views[3]">Login com seu email</button>
    </div>

    <div class="divBaixo" *ngIf="view === views[3]">
        <form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="formFields">
                <mat-form-field>
                    <mat-label>Email*</mat-label>
                    <input formControlName="email" matInput type="text">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Senha*</mat-label>
                    <input formControlName="senha" matInput type="password">
                </mat-form-field>
                <span class="esqueceu">Esqueceu sua senha?</span>
            </div>
            <button mat-raised-button class="btn-email" type="submit">Entrar</button>
        </form>
        <div class="ou flex">
            <div class="line"></div>
            <span>ou</span>
            <div class="line"></div>
        </div>
        <button>Google+</button>
    </div>
</div>
