<!-- <img class="imagemPrincipal" src="../../../assets/background/ana.png" alt=""> -->
<div class="main">
    <div class="produtos">
        <div *ngIf="isAdmin" class="flex" style="width: 100%; margin: 20px;">
            <span class="spacer"></span>
            <button mat-raised-button class="btn-add-produto"><mat-icon>add</mat-icon> Novo produto</button>
        </div>
        <div class="header">
            <h1 class="headerTitle">PRODUTOS</h1>
        </div>
        <div class="topImages">
            <div *ngFor="let produto of produtos" class="topImage">
                <app-produto-card [innerWidth]="innerWidth" [produto]="produto"></app-produto-card>
                <button *ngIf="isAdmin" mat-raised-button class="btn-remove-produto"><mat-icon>delete</mat-icon></button>
            </div>
        </div>
    </div>
</div>

