<div class="main">
    <div *ngFor="let produto of produtos">
        <img hidden src="{{produto.urlMiniatura}}" (load)="loaded = loaded + 1">
    </div>
    <div *ngIf="produtos?.length !== loaded" class="uploader-status" style="margin-bottom: 100px;">
        <mat-spinner></mat-spinner>
    </div>
    <div class="produtos" *ngIf="produtos?.length === loaded">
        <div *ngIf="isAdmin" class="flex" style="width: 100%; margin: 20px;">
            <span class="spacer"></span>
            <button mat-raised-button class="btn-add-produto" (click)="adicionaProduto()"><mat-icon>add</mat-icon> Novo produto</button>
        </div>
        <div class="header">
            <h2 class="headerTitle">PRODUTOS</h2>
        </div>
        <div class="topImages">
            <div *ngFor="let produto of produtos" class="topImage">
                <app-produto-card [innerWidth]="innerWidth" [produto]="produto"></app-produto-card>
                <button *ngIf="isAdmin" mat-raised-button class="btn-remove-produto" (click)="modalConfirmacao(true, produto._id)"><mat-icon>delete</mat-icon></button>
                <button *ngIf="isAdmin" mat-raised-button class="btn-destaca-produto" (click)="modalConfirmacao(false, produto._id)"><mat-icon>star</mat-icon></button>
            </div>
        </div>
    </div>
</div>

