<div class="main">
    <div class="produtos">
        <div class="header">
            <h2 class="headerTitle">PRODUTOS</h2>
        </div>
        <div *ngIf="isAdmin" class="flex" style="width: 100%; margin: 20px;">
            <span class="spacer"></span>
            <button mat-raised-button class="btn-add-produto" (click)="adicionaProduto()"><mat-icon>add</mat-icon> Novo produto</button>
        </div>
        <div class="topImages">
            <div *ngFor="let produto of produtos">
                <app-produto-card  [innerWidth]="innerWidth" [produto]="produto"></app-produto-card>
            </div>
        </div>
    </div>
</div>

