.main {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5%;
    overflow: hidden;
}

.produtos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1%;
    width: 90%;
    max-width: 1500px;
    background-color: rgba(255, 255, 255, 0.335);
}

.header {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.507);
    padding: 15px 0%;
    margin: 2% 0;
    width: 90%;
    color: white;
}

.headerTitle {
    font-family: MyWebFont;
    border-bottom: 1px solid white;
    margin: 0;
}

.topImages {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 2%;
}

.btn-add-produto {
    background-color: #249bc5;
    margin-right: 10px;
}

.btn-add-produto:hover {
    background-color: #37809b;
}

.uploader-status ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #000000;
  }