<div class="header">
    <h2>Trocas e devoluções</h2>
    <span style="flex: 1 1 auto;"></span>
    <span class="close" aria-label="Close" (click)="dialogRef.close()">
        <span aria-hidden="true">&times;</span>
    </span>
</div>

<div class="content">
    <p>Por favor, para evitar trocas e devoluções, caso não tenha certeza sobre um produto ou tenha alguma dúvida, entre em contato conosco: </p>
    <div class="column">
        <span>WhatsApp: (61) 98188-9864</span>
        <span>Instagram: @bloco.bsb</span>
        <span>E-mail: blocobsb@gmail.com</span>
    </div>

    <p>Regras para trocas e devoluções </p>
    <ol>
        <li>O produto NÃO pode ter nenhum indício de uso, como manchas, odor ou qualquer avaria que decorra do uso;</li>
        <li>O prazo para trocas é de 10 dias corridos a partir do recebimento do produto;</li>
        <li>O prazo para devoluções é de 7 dias corridos a partir do recebimento do produto;</li>
        <li>Em caso de defeito de fabricação, o prazo para trocas ou devoluções é de 30 dias corridos a partir do recebimento do produto.</li>
    </ol>
</div>