.main {
    background-color: white;
    color: #fff;
}

.header {
    display: flex;
    align-items: center;
    // margin-top: 7%;
}

.close {
    position: absolute;
    font-size: 50px;
    cursor: pointer;
    right: 1.5%;
    top: 1%;
}

mat-dialog-content {
    height: 100% !important;
    width: 100%;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.424);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 250%;
    font-family:MyWebFont;
    margin: 0;
}

h4 {
    margin-right: 10px;
}

.login {
    color: #249bc5;
    cursor: pointer;
}

.login:hover {
    text-decoration: underline;
}

.divBaixo{
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ou {
    width: 100%;
    margin: 30px;
    justify-content: center;
}

.line {
    border-bottom: 1px solid white;
    width: 37%;
    margin: 10px;
}

.btn-email {
    margin-top: 20px;
    font-family: MyWebFont;
    width: 80%;
    height: 35px;
    color: #fff;
    border: 1px solid white;
    background: #000000;
    box-shadow: inset 0px 0px 0px #2F3B47;
    transition: all 0.5s !important;
    // border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.btn-email:hover {
    box-shadow: inset 500px 0px 0px #28addd;
}

.btn-google {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    border: none;
    background-color: #28addd;
    color: white;
    font-size: 16px;
    font-weight: lighter;
    border-radius: 0px;
    box-shadow: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    width: 80%;
}

.btn-google:hover {
    background-color: #37809b;
}

.google {
    margin-right: 7px;
    background: url('https://api.iconify.design/flat-color-icons/google.svg') no-repeat center center / contain;
    content: url('https://api.iconify.design/flat-color-icons/google.svg');
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #000 !important;
}

.formFields {
    color: #000 !important;
    display: flex;
    flex-direction: column;
    width: 90%;
}

.esqueceu {
    font-size: 14px;
    text-decoration: underline;
    color: #249bc5;
    cursor: pointer;
    margin-bottom:7%;
    margin-left: 10px;
}

.formFields input, select, textarea{
    color: #ffF;
}
