.window {
    min-height: 100%;
    height: auto !important;
    overflow: hidden;
}

.background {
    background-image: url('../assets/background/céu-de-Brasília.jpeg');
    background-size:cover;
    background-position: 50% 90%;
    background-repeat: no-repeat;
}

.body {
    height: 100%;
    width: 100%;
}

::ng-deep .flex {
    display: flex;
    align-items: center;
}

::ng-deep .spacer{
    flex: 1 1 auto;
}