.window {
    // min-height: 100%;
    // height: auto !important;
    // height: 100%;
    // overflow: hidden;
}

.background {
    background-image: url('../assets/background/museu.png');
    background-size:cover;
    background-position: 0% 15%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.body {
    font-family:'Courier New', Courier, monospace;
}

::ng-deep .flex {
    display: flex;
    align-items: center;
}

::ng-deep .spacer{
    flex: 1 1 auto;
}

::ng-deep .column {
    display: flex;
    flex-direction: column;
}

::ng-deep .customDialog mat-dialog-container {
    background-color: white !important;
    color: #000 !important;
}

::ng-deep .customDialogAdiciona mat-dialog-container {
    background-color: rgba(255, 255, 255, 0.904) !important;
    color: #000 !important;
}

::ng-deep .detalheDialog mat-dialog-container {
    background-color: rgba(255, 255, 255, 0.883) !important;
    color: #000 !important;
    padding: 2%;
}

::ng-deep .customDialogTabela mat-dialog-container {
    background-color: #2e5870!important;
    color: #fff !important;
}
::ng-deep .customDialogLogin mat-dialog-container {
    padding: 0;
    background-repeat: no-repeat;
    background-position: 50% 10%;
    background-image: url("../assets/background/ana.jpg");
    background-size: cover;
    color: #fff !important;
}
