<footer class="footer">
    <div class="upperDiv">
        <div [routerLink]="['/home']" routerLinkActive="router-link-active"  class="logo">
            <img class="imagemLogo" src="../../../assets/logo/logo.jpeg" alt="">
        </div>
        <!-- <span class="spacer"></span> -->
        <div class="section">
            <div class="subSection">
                <h3>Instituicional</h3>
                <ul>
                    <li class="click" [routerLink]="['/sobre']" routerLinkActive="router-link-active" >Sobre a bloco</li>
                    <li class="click" [routerLink]="['/contato']" routerLinkActive="router-link-active" >Contato</li>
                    <li class="click" (click)="modalTrocas()">Trocas e devoluções</li>
                    <li class="click" (click)="modalTabela()">Tabela de tamanhos</li>
                </ul>
            </div>
            <div class="subSection">
                <h3>Pagamento</h3>
                <ul>
                    <li>
                        <mat-icon>attach_money</mat-icon>
                        <span> Transferência via TED ou PIX </span>
                    </li>
                    <li>
                        <mat-icon>local_shipping</mat-icon>
                        <span>Entrega entre 2 e 5 dias úteis</span>
                    </li>
                </ul>
            </div>
            <div class="subSection">
                <h3>Segurança</h3>
                <ul>
                    <li>
                        <span>Ambiente 100% Seguro</span>
                    </li>
                    <li>
                        <span>Sua Informação é Protegida Pela Criptografia SSL 256-Bit.</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="socialMedia">
            <a href="https://web.whatsapp.com/" target="_blank" class="socialMediaIcon">
                <span class="wpp"></span>
            </a>
            <a href="https://www.instagram.com/bloco.bsb/" target="_blank" class="socialMediaIcon">
                <span class="insta"></span>
            </a>
            <a href="https://www.google.com.br/" style="color: white;" target="_blank" class="socialMediaIcon">
                <mat-icon class="email">email</mat-icon>
            </a>
        </div>
    </div>
    <div class="underDiv">
        <h2>Fique por dentro das novidades!</h2>
        <button *ngIf="userState.isAdmin" mat-raised-button class="btn-download" (click)="downloadNewsletter()"><mat-icon>download</mat-icon>Lista</button>
        <form class="form" [formGroup]="newsletterForm">
            <input type="text" placeholder="Digite seu email aqui!" formControlName="email">
            <button class="btnParticipar" (click)="addNewsletter()">PARTICIPAR!</button>
        </form>
    </div>
    <div class="copyright">
        <span>&copy; {{ data }} BlocoBSB v1.0</span>
        <span class="spacer"></span>
        <a href="https://www.linkedin.com/in/henriqueamorim20/" target="_blank" class="flex" style="cursor: pointer; text-decoration: none; color: #fff;">
            <div class="linkedin"></div>
            <span>henriqueamorim20</span>
        </a>
    </div>

</footer>