

.topo {
    height: 60px;
    display: flex;
    background-color: #ffffff00;
    color: #fff;
    padding: 0px 20px 0px 2%;
}

.navbar {
    position: relative;
    z-index: 4;
    padding-right: 3%;
    font-family: MyWebFont;
    background-color: transparent;
    color: white;
    height: 80px;
    width: 100%;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
}

.fixed {
    position: fixed;
    top: 0;
}

.dark {
    background-color: #000000;
}

.logo {
    border: 1px solid black;
    width: 140px;
    cursor: pointer;
    margin-right: 20px;
    transition: 0.5s all ease;

}

.whiteborder {
    transition: 0.5s all ease;
    background-color: rgba(255, 255, 255, 0.678);
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
}

.divider {
    height: 50%;
    border-left: 1px solid #ffffff;
    margin: 0px 30px;
}

.lineTransition {
    display: inline-block;
    width: fit-content;
}

.graylish {
    color: #a0a0a0;
}

.menuItem {
    display: flex;
    cursor: pointer;
    align-items: center;
    margin: 0px 5px;
    padding: 0px 10px 5px 10px;
}

.lineTransition:after {
    display:flex;
    content: '';
    border-bottom: solid 1px #fff;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
  }
.lineTransition:hover:after { transform: scaleX(1); }

.novidades {
    margin-right: 7px;
    width: 25px;
    background: url('https://api.iconify.design/heroicons-solid/light-bulb.svg?color=white') no-repeat center center / contain;
    content: url('https://api.iconify.design/heroicons-solid/light-bulb.svg?color=white');
}
.produtos {
    margin-right: 7px;
    width: 25px;
    background: url('https://api.iconify.design/ri/t-shirt-2-fill.svg?color=white') no-repeat center center / contain;
    content: url('https://api.iconify.design/ri/t-shirt-2-fill.svg?color=white');
}
.sobre {
    margin-right: 7px;
    width: 25px;
    background: url('https://api.iconify.design/entypo/info.svg?color=white') no-repeat center center / contain;
    content: url('https://api.iconify.design/entypo/info.svg?color=white'); 
}
.contato {
    margin-right: 7px;
    width: 25px;
    background: url('https://api.iconify.design/ic/outline-support-agent.svg?color=white') no-repeat center center / contain;
    content: url('https://api.iconify.design/ic/outline-support-agent.svg?color=white');
}
.entrar {
    margin-right: 7px;
    width: 25px;
    background: url('https://api.iconify.design/carbon/login.svg?color=white') no-repeat center center / contain;
    content: url('https://api.iconify.design/carbon/login.svg?color=white');
}

.dropDown {
    display: none;
    position: absolute;
    padding-top: 25%;
    padding-left: 70%;
    margin-top: 25%;
    z-index: 3;
}

.conta {
    padding-left: 0;
    right: -40px;
}

.show{
    display: flex;
}

.opaco {
    background-color: rgba(0, 0, 0, 0.404);
    transition: 1s all ease;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -ms-transition: 1s all ease;
    -o-transition: 1s all ease;
}

.dropDownItems {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
}




.media {
    display: flex;
    align-items: center;
    right: 1%;
}

.socialMedia {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 5%;
}

.imageIconText {
    font-size: 14px;
    color: #fff;
}

.pesquisaForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 45%;
    max-width: 500px;
}

.pesquisaIcon {
    cursor: pointer;
    margin-right: 10px;
}

.pesquisaForm input {
    background-color: #fff;
    padding: 10px;
    border: none;
    height: 10px;
    outline: none;
    width: 100%;
    color: black;
}

.searchResults {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.835);
    color: #000;
    z-index: 11;
    position: absolute;
    margin-top: 50px;
    width: 89%;
    right: 0px;
    padding: 10px;
    max-height: 550px;
    overflow:auto;
}

.searchResult {
    width: 100%;
    cursor: pointer;
}

.searchResultElements {
    display: flex;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.164);
}

.searchResultElements:hover {
   background-color: rgba(0, 0, 0, 0.185);
}

.searchResult h3 {
    font-family: MyWebFont;
}

.imgResult {
    min-width: 180px;
    width: 180px;
    min-height: 100px;
    height: 100px;
    object-fit: cover;
}

.searchResultDivider {
    border-bottom: 1px solid rgba(0, 0, 0, 0.164);
    margin: 5px 0;
}

  .wpp {
    width: 20px;
    margin-right: 8px;
    background: url('https://api.iconify.design/mdi/whatsapp.svg?color=white') no-repeat center center / contain;
    content: url('https://api.iconify.design/mdi/whatsapp.svg?color=white');
}

.insta {
    width: 20px;
    margin-right: 8px;
    background: url('https://api.iconify.design/akar-icons/instagram-fill.svg?color=white') no-repeat center center / contain;
    content: url('https://api.iconify.design/akar-icons/instagram-fill.svg?color=white');
}


.navMobile {
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    height: 60px;
    width: 100%;
    padding: 0px 5% 0px 10%;
    background-color: #000;
    color: white;
}

.navMobile mat-icon {
    font-size: 30px;
    cursor: pointer;
}

.pequeno {
    width: 120px;
}

.sideMenu {
    position: fixed;
    right: -400px;
    display: flex;
    z-index: 3;
    color: white;
    flex-direction: column;
    height: calc(100vh - 80px);
    padding: 20px;
    width: 90%;
    max-width: 350px;
    background-color: black;
    transition: 0.7s all ease;
    -webkit-transition: 0.7s all ease;
    -moz-transition: 0.7s all ease;
    -ms-transition: 0.7s all ease;
    -o-transition: 0.7s all ease;
}

.showSidemenu {
    right: 0px;
    transition: 0.7s all ease;
    -webkit-transition: 0.7s all ease;
    -moz-transition: 0.7s all ease;
    -ms-transition: 0.7s all ease;
    -o-transition: 0.7s all ease;
}

.sideItem {
    font-family: MyWebFont;
    font-size: 25px;
    margin: 20px 0px;
    width: 100%;
}

.sideSubItem {
    font-family: MyWebFont;
    font-size: 18px;
    margin: 5px 0px;
}

.sideMenu span {
    margin-left: 10px;
}

.menuSobre {
    height: 0;
    margin-left: 10%;
    margin-top: -15px;
    overflow: hidden;
}

.menuSobreShow {
    height: auto;
}
