<div class="main">
    <div class="contaContent">
        <div class="header">
            <h3>Olá, {{user?.nome}}</h3>
            <span class="spacer"></span>
            <div class="lineTransition" (click)="logout()">
                <div class="logout">
                    <div class="sair"></div> 
                    Sair
                </div>
            </div>
        </div>
        <mat-tab-group>
            <mat-tab label="Minha Conta"> 
                <div class="tab">
                    <h3>Email autenticado: {{user?.email}}</h3>
                    <form [formGroup]="contaForm" (ngSubmit)="atualizarDados()" class="formConta">
                        <div class="camposformConta">
                            <div class="campoformConta">
                                <span>Nome *</span>
                                <input formControlName="nome" required>
                            </div>
                            <span class="spacer"></span>
                            <div class="campoformConta">
                                <span>Telefone</span>
                                <input formControlName="telefone">
                            </div>
                        </div>
                        <div class="flex">
                            <span class="spacer"></span>
                            <button class="btnformConta" type="submit"> Salvar </button>
                        </div>
                    </form>
                </div>
            </mat-tab>
            <mat-tab label="Meus pedidos">
                <div class="tab">
                    <span>Em breve você também poderá vizualizar e gerenciar seus pedidos por aqui :)</span> 
                </div>
            </mat-tab>
            <mat-tab *ngIf="isAdmin" label="Mensagens">
                <h3 style="background-color: #000000a8; color: #fff; padding: 3px 10px; margin: 0; margin-top: 10px;">Mensagens de contato</h3>
                <table mat-table [dataSource]="dataSourceMensagens">
                    <div class="flex">
                        <ng-container matColumnDef="emailMensagem">
                            <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{ element.email }} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="nome">
                            <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{ element.nome }} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="assunto">
                            <mat-header-cell *matHeaderCellDef> Assunto </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{ element.assunto }} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="mensagem">
                            <mat-header-cell *matHeaderCellDef> Mensagem </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{ element.mensagem }} </mat-cell>
                        </ng-container>
                        <!-- <ng-container matColumnDef="copiar">
                            <mat-header-cell *matHeaderCellDef> Copiar </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <button mat-icon-button (click)="copyMessage(element.email)">
                                    <div title="Copiar para clipboard" class="copiar"></div>
                                </button>
                            </mat-cell>
                        </ng-container> -->
                    </div>
                    <mat-header-row *matHeaderRowDef="displayedColumnsMensagens"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumnsMensagens;"></mat-row>
                </table>
                <mat-paginator [length]="lengthMensagens" [pageIndex]="pagina" [pageSize]="5"
                [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageEvent($event)"></mat-paginator>
            </mat-tab>
            <mat-tab *ngIf="isAdmin" label="Newsletter">
                <h3 style="background-color: #000000a8; color: #fff; padding: 3px 10px; margin: 0; margin-top: 10px;">Lista de emails incritos na newsletter</h3>
                <table mat-table [dataSource]="dataSource">
                    <div class="flex">
                        <ng-container matColumnDef="email">
                            <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{ element.email }} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="copiar">
                            <mat-header-cell *matHeaderCellDef> Copiar </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <button mat-icon-button (click)="copyMessage(element.email)">
                                    <div title="Copiar para clipboard" class="copiar"></div>
                                </button>
                            </mat-cell>
                        </ng-container>
                    </div>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </table>
                <mat-paginator [length]="length" [pageIndex]="pagina" [pageSize]="5"
                [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageEvent($event)"></mat-paginator>
            </mat-tab>
          </mat-tab-group>
    </div>
</div>
